name: Project Validation

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:
    branches:
      - master

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Validate JSON
        uses: Closing-the-Gap-in-NLS-DH/project-validator@main
        with:
          workspace: ${{ github.workspace }}
